/* main color for page*/
body{
    background:lightgrey;
}

.text-centered {
    text-align: center;
}
/* footer settings */
.db-lt {
    background-color: rgb(48, 61, 57);
    color: whitesmoke;
    margin: 35px;
    padding: center;
    height: auto;
}

ul {
    font-family:Arial, Helvetica, sans-serif;
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

h3 {
    text-align: center;
}
/* Pseudo classes */
a:link {
    color:whitesmoke;
}

a:visited {
    color:rgb(163, 170, 60);
}

a:hover{
    color:orange;
}

a:active {
    color:brown;
}
